@model List<teste_cliente.Models.Dto.HistoricoCandidaturaDTO>

@{
    ViewData["Title"] = "Historico Candidaturas";
}

<div class="container" style="padding-top:30px; padding-bottom:40px;">
    <h3 class="my-4 oferta_header">Histórico de Candidaturas</h3>

    <div class="card shadow-none border-0">
        <div class="card-header oferta_fundo_header">
            <h6 class="oferta_header mb-0">Candidaturas Realizadas</h6>
        </div>
        <div class="card-body bg-white">
            <table class="table table-bordered table-hover">
                <thead class="table-light">
                    <tr>
                        <th scope="col">Data de Candidatura</th>
                        <th scope="col">Empresa</th>
                        <th scope="col">Título da Oferta</th>
                        <th scope="col">Localização</th>
                        <th scope="col">Regime Trabalho</th>
                        <th scope="col">Jornada</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.DataAplicacao.ToString("dd.MM.yyyy")</td>
                            <td>@item.NomeEmpresa</td>
                            <td>@item.Titulo</td>
                            <td>@item.Localizacao</td>
                            <td>@item.RegimeTrabalho</td>
                            <td>@item.Jornada</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
